<section class="emoviz-selfreported-styles">
    <div layout="row" ng-repeat="emotion in discrete_emotions">

        <md-tooltip md-direction="top">
            <span>{{ emotion.emotion_display_name  | capitalize }}</span>
        </md-tooltip>

        <div flex="10">
            <md-button class="md-icon-button md-body-1">
                <ng-md-icon icon="{{ emotion.emotion_icon }}" style="fill: #abcdef;" size="32"></ng-md-icon>
            </md-button>
        </div>

        <div flex style="padding-left: 20px;">
            <md-slider flex="" class="md-primary" md-discrete="" ng-model="emotion.emotion_level" step="1" min="1" ng-disabled="ngDisabled"
                       max="100">
            </md-slider>
        </div>
        <div flex="10" layout layout-align="center center">
            <span class="md-content"
                  style="background-color: #26a9df; border-radius: 50%; padding: 10px; margin-left: 10px;  color: white; font-size: 10px">{{ emotion.emotion_level }}</span>
        </div>
    </div>
</section>