<!DOCTYPE html>
<html ng-app='myAPP'>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.8/md-data-table.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-chart/2.0.27/LineChart.min.css"/>
</head>

<body ng-controller='MainCtrl'>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Emoviz </h2>
    </div>
</md-toolbar>

<header>Filters:</header>
<div id="filterContainer">
    <div class="element">
        <md-input-container>
            <label>Session:</label>
            <!-- multiple -->
            <md-select ng-model="selectedSpSessions" md-on-close="">
                <md-optgroup label="spSessions">
                    <md-option ng-value="session" ng-repeat="session in spSessions">{{session}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>

    <div class="element">
        <md-switch ng-model="startEndSwitcher" ng-true-value="'START'" ng-false-value="'END'">
            Check point: {{ startEndSwitcher }}
        </md-switch>
    </div>

    <div class="element">
        <md-button class="md-raised md-primary" aria-label=".." ng-click="applyFilter()">
            Filtre
        </md-button>
    </div>
</div>

<header>Self Reported:</header>
<div id="selfReportedContainer" class="emoviz-selfreported-styles">

    <div class="element">
        MoodMap
        <div id="mood-map-chart">
            <mood-map-chart mood-points="moodPoints" check-point='startEndSwitcher' data="mood"
                            change-handler="onMoodChange"></mood-map-chart>
        </div>
    </div>

    <div class="element">
        Discrète
        <discrete-emotions data="discrete_emotions" ng-disabled="true">
        </discrete-emotions>
    </div>

    <div class="element">
        Projection
        <div id="mood-map-chart">
            <mood-map-chart mood-points="projectedDiscreteEmotions" data="mood" check-point='startEndSwitcher'
                            change-handler="onMoodChange"></mood-map-chart>
        </div>
    </div>

</div>

<div id="audioVideoContainer" class="emoviz-selfreported-styles" ng-show="showIt">
    <div class="element">
        <header>Audio</header>
        <div id="mood-map-chart">
            <mood-map-chart mood-points="audioValenceArousalBySegment" data="mood" check-point=''
                            change-handler=""></mood-map-chart>
        </div>
    </div>

    <div class="element">
        <header>Video disc. emo.:</header>
        <div id="mood-map-chart">
            <mood-map-chart mood-points="videoEmotionsForMoodMap" data="mood" check-point=''
                            change-handler="">
            </mood-map-chart>
        </div>
    </div>

    <div class="element">
        <header>Video A. V.:</header>
        <div id="mood-map-chart">
            <mood-map-chart mood-points="audiodata.dataset5" data="mood" check-point=''
                            change-handler="">
            </mood-map-chart>
        </div>
    </div>

    <div class="element">
        <header>Video A. V. W.M. for each:</header>
        <div id="mood-map-chart">
            <mood-map-chart mood-points="videoData" data="mood" check-point=''
                            change-handler="">
            </mood-map-chart>
        </div>
    </div>

    <div class="element">
        <header>Video A. V. W.M. for each:</header>
        <div id="mood-map-chart">
            <mood-map-chart mood-points="videoData2" data="mood" check-point=''
                            change-handler="">
            </mood-map-chart>
        </div>
    </div>
</div>

<header style="padding: 10px">4 emotions histogram : Happy, Calm, Sad & Angry</header>

<div id="audioVideoContainerColumnChart" class="emoviz-selfreported-styles" ng-show="showIt">
    <div class="element">
        <header>Audio</header>
        <div class="my-chart" style="height: 300px" ng-show="showIt">
            <linechart data="audioHistoData" options="audioHistoOpt"></linechart>
        </div>
    </div>

    <div class="element">
        <header>Video</header>
        <div class="my-chart" style="height: 300px" ng-show="showIt">
            <linechart data="audioHistoData" options="videoHistoOpt"></linechart>
        </div>
    </div>

    <div class="element">
        <header>Video</header>
        <div class="my-chart" style="height: 300px" ng-show="showIt">
            <linechart data="audioHistoData" options="videoHistoOpt2"></linechart>
        </div>
    </div>
</div>

<br><br>

<!--<div layout="row" layout-align="center" ng-show="showIt">
    <div flex="50">
        <header>Audio</header>
        <div id="audioContainer" class="emoviz-selfreported-styles">
            <div class="element">
                <div id="mood-map-chart">
                    <mood-map-chart mood-points="audioValenceArousalBySegment" data="mood" check-point=''
                                    change-handler=""></mood-map-chart>
                </div>
            </div>
        </div>
    </div>

    <div flex="50">
        <header>Video:</header>
        <div id="videoContainer" class="emoviz-selfreported-styles">
            <div class="element">
                <div id="mood-map-chart">
                    <mood-map-chart mood-points="videoEmotionsForMoodMap" data="mood" check-point=''
                                    change-handler="">
                    </mood-map-chart>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div layout="column">
    <div flex>
        <div class="my-chart" style="height: 300px" ng-show="showIt">
            <linechart data="audiodata" options="audiooptionsVA"></linechart>
        </div>
    </div>
    <br>
    <br>
    <div flex>
        <div class="my-chart" style="height: 300px" ng-show="showIt">
            <linechart data="audiodata" options="audiooptionsPosNegNeu"></linechart>
        </div>
    </div>

    <br>
    <br>
    <div flex>
        <div class="my-chart" style="height: 300px" ng-show="showIt">
            <linechart data="audiodata" options="audiooptionsPosNeg"></linechart>
        </div>
    </div>

</div>

<div layout="row">
    <div flex="50">
        <div id="audioContainerTab" class="emoviz-selfreported-styles">
            <div class="element">
                <md-table-container ng-show="showIt">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>Index</th>
                            <th md-column>From-To</th>
                            <th md-column>Duration</th>
                            <th md-column>Valence</th>
                            <th md-column>Arousal</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="(key, sig) in jTotableAudioEmotions.result.analysisSegments">
                            <td md-cell>{{key}}</td>
                            <td md-cell>{{sig.offset | timeToDate | timeToStr}}-{{((sig.duration | strToNumber) +
                                sig.offset) | timeToDate | timeToStr }}
                            </td>
                            <td md-cell>{{sig.duration | strToNumber | timeToDate | timeToStr }}</td>
                            <td md-cell>{{sig.analysis.Valence.Group + ' : ' + (sig.analysis.Valence.Value | scale |
                                round) }}
                            </td>
                            <td md-cell>{{sig.analysis.Arousal.Group + ' : ' + (sig.analysis.Arousal.Value | scale |
                                round)}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
    </div>

    <div flex="50">
        <div id="videoContainerTab" class="emoviz-selfreported-styles">
            <div class="element">
                <md-table-container ng-show="showIt">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <!--<th md-column>Image Nbr</th>-->
                            <th md-column>Index</th>
                            <th md-column>Images</th>
                            <th md-column>Reduce</th>
                            <th md-column>Frequent</th>
                            <th md-column>Mean</th>
                            <th md-column>Sum</th>
                            <th md-column>Group</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="(key, vItems) in screenshotsOfAudioSegment">
                            <!--<td md-cell>{{ key }}</td>-->
                            <td md-cell>{{key}}</td>
                            <td md-cell>{{vItems}}</td>
                            <td md-cell>{{one = (vItems | emotionArgmax | emotionArgmaxReduce)}}</td>
                            <td md-cell>{{one | emotionArgmaxCombineFrequent}}</td>
                            <td md-cell>{{one | emotionWeightedMean}}</td>
                            <td md-cell>{{two = (vItems | emotionSum)}}</td>
                            <td md-cell>{{two | emotionSumGroup }}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
    </div>
</div>


</div>


<!--<div id="mood-map-chart">
    <discrete-emotions-scatter-chart mood-points="data.dataset0" data="mood" check-point=''
    ></discrete-emotions-scatter-chart>
</div>-->


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
<script data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>

<script data-require="d3js@*" data-semver="3.5.14" src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.min.js"></script>
<script src="https://npmcdn.com/simple-statistics@2.0.0/dist/simple-statistics.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.8/md-data-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/line-chart/2.0.27/LineChart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

<script src="./node_modules/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
<script src="./libs/lodash-mixin.js"></script>
<script src="filters.client.js"></script>
<script src="controllers.client.js"></script>
<script src="script.js"></script>

</body>

</html>