<!DOCTYPE html>
<html ng-app='myAPP'>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div ng-controller='MainCtrl' class="emoviz-selfreported-styles">
    <div layout="row">
      <div flex>
        dflkdgjs
        <md-input-container>
          <label>Session :</label>
          <md-select ng-model="selectedSpSessions" md-on-close="" multiple>
            <md-optgroup label="spSessions">
              <md-option ng-value="session" ng-repeat="session in spSessions">{{session}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      
      <div flex>
        <md-button class="md-raised md-primary" ng-click="applyFilter()">Filtre</md-button>
      </div>


    </div>

    <div layout="row">
      <div flex>
        MoodMap

        <div id="mood-map-chart">
          <mood-map-chart mood-points="moodPoints" data="mood" change-handler="onMoodChange"></mood-map-chart>
        </div>

      </div>
      <div flex>
        Discrète

        <discrete-emotions data="selfReportedEmotionsDialog.discrete_emotions" ng-disabled="selfReportedEmotionsDialog.bProcessing"></discrete-emotions>
      </div>
      <div flex>
        Projection
      </div>
    </div>
  </div>



  <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
  <script data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>

  <script data-require="d3js@*" data-semver="3.5.14" src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.min.js"></script>
  <script src="script.js"></script>

</body>

</html>